.background {
    -fx-background-image: url('/Menu/Images/menuBG.jpg');
    -fx-background-size: cover, auto;
    -fx-padding: 10;
}

.playerID {
    -fx-font-family: 'Arial';
    -fx-effect: dropshadow(gaussian, black, 0, 0, 0, 2);
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.leftbutton {
    -fx-background-radius: 10;
}

.button {
    -fx-background-size: cover, auto;
    -fx-background-radius: 8em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-background-color: linear-gradient(#61A2B1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: #81E6DD;

}

.tool-bar:horizontal {
    -fx-background-color: linear-gradient(#beb2a6, #423c37);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.winScreenLabel{
    -fx-text-fill: goldenrod;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-padding: 0 0 20 0;
    -fx-font-size: 40;
    -fx-effect: dropshadow(gaussian, black, 0, 0, 0, 2);
}

.winScreenGlass{
    -fx-background-color: rgba(0, 100, 100, 0.5);
    -fx-background-radius: 10;
}

.winLayout{
    -fx-background-image: url('/Menu/Images/menuBG.jpg');
    -fx-background-size: cover, auto;
    -fx-font-size: 20;
    -fx-background-radius: 10;
}