.background {
    -fx-background-image: url('/Menu/Images/Old/menuBG.jpg');
    -fx-background-size: cover, auto;
    -fx-padding: 10;
}

.playerID{
    -fx-font-family: 'Arial';
    -fx-effect: dropshadow(gaussian, black, 0, 0, 0, 2);
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: #F0F0F0;
}