.menu {
    -fx-font-family: 'Arial';
    -fx-effect: dropshadow(gaussian, black, 0, 0, 0, 2);
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-fill: #F0F0F0;
}

.button {
    -fx-background-size: cover, auto;
    -fx-background-radius: 8em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.background {
    -fx-background-image: url('/Menu/Images/Old/menuBG.jpg');
    -fx-background-size: cover, auto;
    -fx-padding: 10 30 10 30;
}

.settings {
    -fx-font-family: 'Arial';
    -fx-effect: dropshadow(gaussian, black, 0, 0, 0, 2);
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-fill: #F0F0F0;
    -fx-underline: true;
}

.optionsLabel {
    -fx-background-color: rgba(0, 100, 100, 0.5);;
    -fx-background-radius: 10pt;
}

.startmenuBox {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-width: 2;
    -fx-border-color: black;
}
